		<section class="blog section" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Sağlık İle İlgili Son Yazılarımız.</h2>
							<img src="/ui/img/section-img.png" alt="#">
							<p>Hastahanemiz ve Sağlık sektöründe gelişen en son olayları blog yazılarımızdan takip edebilirsiniz.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="/ui/img/blog1.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">22 Ağustos 2020</div>
									<h2><a href="blog-single.html">Yeni Ürünümüzü Duyurduk!</a></h2>
									<p class="text">Sağlık teknolojilerinde devrim niteliğinde bir yenilikle karşınızdayız! Yeni ürünümüz, doktorlarımıza tanı ve tedavi süreçlerinde büyük kolaylık sağlıyor. </p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="/ui/img/blog2.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">15 Temmuz 2020</div>
									<h2><a href="blog-single.html">Diş Problemlerine Çözüm İçin En İyi Beş Yöntem</a></h2>
									<p class="text">Diş sağlığı, genel sağlık açısından oldukça önemlidir. Diş problemlerinizle başa çıkmak için beş etkili yöntemi sizlerle paylaşmak istiyoruz. </p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="/ui/img/blog3.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">05 Haziran 2020</div>
									<h2><a href="blog-single.html">İş Dünyasına Yüksek Kaliteli Çözümler Sunuyoruz</a></h2>
									<p class="text">Sağlık taramaları, acil müdahale hizmetleri ve özel danışmanlıklarımızla iş yerlerinde daha sağlıklı bir ortam yaratmak için buradayız.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>
			</div>
		</section>