<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Sana ve Ailene Yardım İçin Hazırız</h2>
							<img src="/ui/img/section-img.png" alt="#">
							<p>Hastane olarak her zaman senin ve ailenin her türlü sağlık sorunlarında yanındayız</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-ambulance-cross"></i>
							</div>
							<h3>Acil Yardım</h3>
							<p>Bir telefonla en acil şekilde olay yerindeyiz. Bir telefon yeter.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-medical-sign-alt"></i>
							</div>
							<h3>Uzman Tedavi</h3>
							<p>Deneyimli doktorlarımız en iyi sağlık yöntemleri ile hizmetinde</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-stethoscope"></i>
							</div>
							<h3>Teknolojik Ekipmanlar</h3>
							<p>Sağlık sektöründe en son teknolojik cihazlar hastahanemizde </p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>