		<section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-text ">
							<h6>Kampanyalarımız için Üye Ol</h6>
							<p class="">Ücretsiz , Sağlık Kontrolü Şansı Yakalamak için Üye Ol,<br> Acele Et</p> 
						</div>
						<!-- End Newsletter Form -->
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form -->
						<div class="subscribe-form ">
							<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="E-Mail Adresiniz" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'E-Mail Adresiniz'" required="" type="email">
								<button class="btn">Üye Ol</button>
							</form>
						</div>
						<!-- End Newsletter Form -->
					</div>
				</div>
			</div>
		</section>