		<section class="portfolio section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Hastanemizde Temizlik Kurallarına Uyuyoruz</h2>
							<img src="/ui/img/section-img.png" alt="#">
							<p>Hastahane olarak hijyen kurallarına büyük önem veriyoruz. Hastalarımıza her daim tertemiz hizmet veriyoruz.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							<div class="single-pf">
								<img src="/ui/img/pf1.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
							<div class="single-pf">
								<img src="/ui/img/pf2.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
							<div class="single-pf">
								<img src="/ui/img/pf3.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
							<div class="single-pf">
								<img src="/ui/img/pf4.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
							<div class="single-pf">
								<img src="/ui/img/pf1.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
							<div class="single-pf">
								<img src="/ui/img/pf2.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
							<div class="single-pf">
								<img src="/ui/img/pf3.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
							<div class="single-pf">
								<img src="/ui/img/pf4.jpg" alt="#">
								<a href="portfolio-details.html" class="btn">Detaylar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>