<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<span>Acil Çözüm</span>
										<h4>İlk Yardım Hizmeti</h4>
										<p>Acil yardım taleplerinize bir telefon kadar yakınız. Ambulanslarımız 7/24 hizmetinizde</p>
										<a href="#">Devamını Oku<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<span>Her Daim Hizmet</span>
										<h4>Doktor Takvimi</h4>
										<p>Her türlü sağlık sorunlarınıza karşı daima donanımlı doktorlarımız mevcuttur. Bizim için önemlisiniz.</p>
										<a href="#">Devamını Oku<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<span>Kesintisiz Hizmet</span>
										<h4>Çalışma Saatlerimiz</h4>
										<ul class="time-sidual">
											<li class="day">Pazartesi - Cuma <span>8.00-20.00</span></li>
											<li class="day">Cumartesi<span>9.00-18.30</span></li>
											<li class="day">Pazartesi - Perşembe <span>9.00-15.00</span></li>
										</ul>
										<a href="#">Devamını Oku<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>