
    <section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/ui/img/slider2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1><span>Sağlık</span> Hizmetimizle Gurur Duyuyoruz. Bize <span>Güven!</span></h1>
									<p>Her Biri Alanında İsim Yapış Uzman Kadromuz İle Hizmetinizdeyiz.  </p>
									<div class="button">
										<a href="#" class="btn">Randevu Al</a>
										<a href="#" class="btn primary">Daha Fazla Bilgi</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/ui/img/slider.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1><span>Sağlık</span> Hizmetimizle Gurur Duyuyoruz. Bize <span>Güven!</span></h1>
									<p>Her Biri Birbirinden Başarılı Kadorumuz Son Teknoloji Cihazlarla En Doğru Teşhis ve Tedavilerle Hizmetinizdeyiz. </p>
									<div class="button">
										<a href="#" class="btn">Randevu Al</a>
										<a href="#" class="btn primary">Daha Fazla Bilgi</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/ui/img/slider3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1><span>Sağlık</span> Hizmetimizle Gurur Duyuyoruz. Bize <span>Güven!</span></h1>
									<p>Uzman Doktor Kadromuz Sayesinde Hastanemizden İyileşmeden Ayrılan Olmamıştır. </p>
									<div class="button">
										<a href="#" class="btn">Randevu Al</a>
										<a href="#" class="btn primary">İletişime Geç</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>