@{
    ViewData["Title"] = "Günay Nurtekin - Özgeçmiş";
}

<div class="row">
<div class="col-md-4"><img src="https://ideogram.ai/assets/image/lossless/response/85NF1veDTF6sssSwHXEyaw" alt="" class="rounded" width="98%"></div>

<div class="col-md-8">

<p class="h1">Web Siteme Hoşgeldiniz.</p>
<hr>
<p>Merhaba Ben <b>Günay Nurtekin</b>. Şuan da kişisel web sitemde bulunmaktasınız. Burada Teknoloji , yazilim ve web dünyasının incelikleri üzerine yazılar bulabilirsiniz.</p>
<p>Yazilim üzerine Acun Medya Akademi den ders almaktayım. Sizlere bu derslerin neticesinde yapmış olduğum bir ödev olan MVC projemden ulaşıyorum. Daha önce bir çok wordpress sitesi yapsam da MVC katmanını kullanarak yaptığım ilk site diyebiliriz.</p>
<p>Sitemiz de her ne kadar eksikler sürse de bunlara çözüm önerileri aramakta ve hızla ilgili yerleri düzeltmekteyim. Çok yakında sitemiz test yayınınndan sonra canlı ya alınacaktır.  Canlıya geçtikten sonra hem öğrendiğim bilgileri daha geniş kitlelere duyurabilmek hem de öğrendiklerimi tekrar edebilmek adına web sitemden çeşitli paylaşımlar yapacağım</p>
<p>Bana yazmak ve sormak istediğiniz şeyler varsa hiç çekinmeden iletişim formumuzu kullanarak bana ulaşabilirsiniz. Yazdığınız gönderilere en kısa zamanda belirtmiş olduğunuz mail adresiniz üzerinden geri dönüş yapılmaktadır.</p>

<button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Contact")'">iletisim formu</button>

</div>
</div>

<section id="okullar">
<div>
<p class="h4">Okuduğum Okullar</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Yıllar</th>
            <th>Okul Adi</th>
            <th>Bölümü</th>
            <th>Mezuniyet Durumu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2020 - 2018</td>
            <td>Anadolu Üniversite</td>
            <td>Web Tasarım ve Programlama</td>
            <td>Mezun</td>
        </tr>
          <tr>
            <td>2012 - 2009</td>
            <td>Marmara Üniversitesi</td>
            <td>İstatistik Yüksek Lisans</td>
            <td>Terk</td>
        </tr>
         <tr>
            <td>2009 - 2005</td>
            <td>Marmara Üniversitesi</td>
            <td>Ekonometri</td>
            <td>Mezun</td>
        </tr>
            <tr>
            <td>2000 - 2004</td>
            <td>Lüleburgaz Anadolu Lisesi</td>
            <td>Sayısal</td>
            <td>Mezun</td>
        </tr>
    </tbody>
</table>
</div>
</section>